/** {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
}*/

.header {
  /* color:#c9d4cc; */
  color: black;
}
body {
  background-color: #212226;
}
.log {
  width: 400px;
  background-color: #363940;
  margin: 100px auto;
}
.log h1 {
  text-align: center;
  color: #e9ecf3;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}
.log form {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  color: #e9ecf3;
  padding-bottom: 20px;
}
a.link {
  border: 1px solid #5866e9;
  color: #e9ecf3;
  background-color: #5866e9;
  text-decoration: none;
  font-size: 15px;
  padding-top: 0px;
}
