table {
  border-collapse: collapse;
  width: 80%;
}
td, th {
  padding: 1rem 1.5rem 1rem 1.5rem;
}
th {
  color: white;
  font-weight: 800;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
tr {
  color: #a7aab8;
  font-weight: 300;
}
.header2{
  color:white;
  text-align: center;
  padding-top:30px;
}
.header1{
  color:white;
  text-align:center;
}
.header1 > input{
  text-align:left;
  padding-left:5px;
  color:black;
}
.button1{
  width:80px;
  padding: 5px;
  margin-top: 10px;
  background-color: #5866e9;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #e9ecf3;
  transition: background-color 0.2s;
}
tr:nth-child(even){background-color: #263342;}