table {
  border-collapse: collapse;
  width: 80%;
}
td, th {
  padding: 1rem 1.5rem 1rem 1.5rem;
}
th {
  color: white;
  font-weight: 800;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
tr {
  color: #a7aab8;
  font-weight: 300;
}
tr:nth-child(even){background-color: #263342;}
