h1{
    position:absolute;
    top:60px;
    left:50%;
    z-index:5;
}

h2{
    position:absolute;
    top:125px;
    left:5%;
    z-index:5;
}

h3{
    position:absolute;
    top:130px;
    left:82%;
    z-index:5;
}

h4{
    position:absolute;
    top:130px;
    left:90%;
    z-index:5;
}

p1{
    position:absolute;
    top:230px;
    left:7%;
    z-index:5;
}

p2{
    position:absolute;
    top:250px;
    left:7%;
    z-index:5;
}

img{
    position:absolute;
    top:65%;
    left:10%;
    width:263px;
    height:384px;
    z-index:5;
}

h5{
    position:absolute;
    top:430px;
    left:450px;
    z-index:5;
    font-size:xx-large;
}

h6{
    position:absolute;
    top:500px;
    left:450px;
    z-index:5;
    font-size:xx-large;
}

.review{
    position:absolute;
    top:620px;
    left:450px;
    z-index:5;
    width:320px;
    height:100px;
}