.card_item {
	width: 20%
}
@media (max-width: 1024px) {
	.card_item {
		width: 25%
	}
}
@media (max-width: 768px) {
	.card_item {
		width: 33.3%
	}
}
@media (max-width: 528px) {
	.card_item {
		width: 50%
	}
}	

/** {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
      ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
      sans-serif;
    font-size: 16px;
  }
h1{
    position:absolute;
    top:60px;
    left:50%;
    z-index:5;
}

h2{
    position:absolute;
    top:125px;
    left:5%;
    z-index:5;
}

h3{
    position:absolute;
    top:130px;
    left:82%;
    z-index:5;
}

h4{
    position:absolute;
    top:130px;
    left:90%;
    z-index:5;
}

p1{
    position:absolute;
    top:230px;
    left:7%;
    z-index:5;
}

p2{
    position:absolute;
    top:250px;
    left:7%;
    z-index:5;
}

img{
    position:absolute;
    top:65%;
    left:10%;
    width:263px;
    height:384px;
    z-index:5;
}

h1{
    position:absolute;
    top:430px;
    left:450px;
    z-index:5;
    font-size:xx-large;
}

h2{
    position:absolute;
    top:500px;
    left:450px;
    z-index:5;
    font-size:xx-large;
}

.review{
    position:absolute;
    top:620px;
    left:450px;
    z-index:5;
    width:320px;
    height:100px;
}

a:link {

    border: 1px solid #5866e9;
    color: #e9ecf3;
    background-color: #5866e9;
    text-decoration: none;
    font-size:larger
  }
  
  
  .navbar {
    
    overflow: hidden;
    background-color: #5866e9;
    margin: 50px auto;
    margin-left:100px;
    margin-right:100px;
  }
  
  .navbar a {
  
  float: left;
  font-size: 16px;
  color: white;
  
  padding: 14px 16px;
  text-decoration: none;
  }
  
  .Title{
    text-align:center;
    font-size:75px;
    color:#e9ecf3
  }

  */
