.card_item {
	width: 20%
}
@media (max-width: 1024px) {
	.card_item {
		width: 25%
	}
}
@media (max-width: 768px) {
	.card_item {
		width: 33.3%
	}
}
@media (max-width: 528px) {
	.card_item {
		width: 50%
	}
}	

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
      ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
      sans-serif;
    font-size: 16px;
  } 
  .text{
    color: #e9ecf3;
    padding-left: 40px;
    font-weight: bolder;
}

body {
  background-color: #212226;
}

.image{
    width:20%;
    text-align: left;
    padding-bottom: 60px;
    padding-left: 10px;
    font-weight: bold;
}
td{
    
    text-align: left;
}

h1{
    text-align:center;
    font-size:75px;
    color:#e9ecf3
}

h5{
  padding-top:30px;
  padding-bottom:40px;
  text-align:center;
}

h3{
  color: #e9ecf3;
  font-size: 150%;
  padding-top: 15px;
}

h4{
  color:#e9ecf3;
  font-size: 75%;
  padding-bottom: 75px;
  text-align:center;
}

a:link {
  color: #e9ecf3;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #e9ecf3;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #2c5282;
  background-color: transparent;
  text-decoration: underline;
}

.incorrect{
  color: #e9ecf3;
  text-align: center;
  padding-bottom: 20px;

}

.a{
  color:gray;
}

.title{
  font-weight: bold;
}




