* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body{
      background-color: #212226;
      margin: 0px;
      position: relative;
    } 

.all{
  background-color: #363940; 
  height: 1000px;
  width: 1000px;
  margin: 100px auto; 
  top: 0px;
  overflow:auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.line{
    background-color: #212226;
    width: 1000px;
    height: 2px;
    margin: 400px px 0px 400px;
    top: 0px;
}


h1{
  text-align: center;
  font-size: 400%;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  color: white;
}

h2{
  text-align: center;
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
  ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
  sans-serif;
  color: white;
  text-decoration: underline;
  margin: 0px 0px 70px 0px;
}

.information{
  background-color: #cbcdcd;
  height: 550px;
  width: 895px;
  margin: 80px 50px 100px 50px;
  border-bottom: 1px solid black;
}


.firstname{
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 60px 0px 0px 90px;
} 

.lastname{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 60px 0px 0px 100px;
} 

.email{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 40px 0px 0px 90px;
}

.confirmemail{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 40px 0px 0px 490px;
}

.birthdate{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 115px 0px 0px 130px;
}

.gender{
  position: absolute;
  font-size: 185%;
  font-family: 'Roboto', sans serif;
  margin: 115px 0px 0px 570px;
}

.username{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 195px 0px 0px 290px;
}

.password{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 270px 0px 0px 90px;

}

.confirmpassword{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 270px 0px 0px 490px;
}

.signup{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 335px 0px 0px 385px;
  color: #cbcdcd;
  background-color: #363940 ;
  border-radius: 15px;
}

.signup:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
}

ul{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 385px 0px 0px 310px;
}

p1{
  position: absolute;
  font-size: 100%;
  font-family: 'Roboto', sans serif;
  margin: 95px 0px 0px 570px;
}

p2{
  position: absolute;
  font-size: 100%;
  font-family: 'Roboto', sans serif;
  margin: 95px 0px 0px 130px;
}

a:link {
    color: #363940;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #363940;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #2868c7;
    background-color: transparent;
    text-decoration: underline;
  }
