* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body{
      background-color: #212226;
      margin: 0px;
	  color: white;
      //position: relative;
    } 
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.all{
  background-color: #363940;
  width: 100%;
	max-width: 42rem;
  overflow:auto;
  justify-content: center;
}

.line{
    background-color: #212226;
    width: 1000px;
    height: 2px;
    margin: 400px px 0px 400px;
    top: 0px;
}


h1{
  text-align: center;
  font-size: 200%;
  color: white;
  border-bottom: 1px solid black;
  padding: 2rem;
  margin: 0;
}

h2{
  text-align: center;
  font-size: 200%;
  color: white;
  text-decoration: underline;
  margin: 0px 0px 70px 0px;
}
h3{
  text-align: center;
  font-size: 150%;
  color: red;
}

form {
	padding: 1rem;
}

.information{
  //border-bottom: 1px solid black;
}

.input-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.input-container div {
	width: 100%;
	padding: 0 0.5rem 0 0.5rem;
}
.label-input-box {
	padding: 0 0.5rem 0 0.5rem;
	margin-bottom: 1rem;
}
input {
	display: flex;
	width: 100%;
	padding: 0.8rem;
}
select {
	display: flex;
	width: 100%;
	padding: 0.25rem;
}
label {
	color: white;
}
.firstname{
  font-family: 'Roboto', sans serif;
} 

.lastname{
  font-family: 'Roboto', sans serif;
} 

.email{
  font-family: 'Roboto', sans serif;
}

.confirmemail{
  font-family: 'Roboto', sans serif;
}

.birthdate{
  height: 3rem;
  font-family: 'Roboto', sans serif;
}

.gender{
  height: 3rem;
  font-family: 'Roboto', sans serif;
}

.username{
  font-family: 'Roboto', sans serif;
}

.password{
  font-family: 'Roboto', sans serif;

}

.confirmpassword{
  font-family: 'Roboto', sans serif;
  margin-top: -0.5rem;
}

.signup{
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  color: #cbcdcd;
  background-color: #363940 ;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.signup:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
}

ul{
  position: absolute;
  font-size: 150%;
  font-family: 'Roboto', sans serif;
  margin: 385px 0px 0px 310px;
}

p1{
  position: absolute;
  font-size: 100%;
  font-family: 'Roboto', sans serif;
  margin: 95px 0px 0px 570px;
}

p2{
  position: absolute;
  font-size: 100%;
  font-family: 'Roboto', sans serif;
  margin: 95px 0px 0px 130px;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #2868c7;
    background-color: transparent;
    text-decoration: underline;
  }
