* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
      ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
      sans-serif;
    font-size: 16px;
  } 
  .text{
    color: #e9ecf3;
}
body {
  background-color: #212226;
}

.img{
    width:20%;
    text-align: left;
    padding-bottom: 40px;
}
td{
    
    text-align: left;
}

h2{
    text-align:left;
    font-size:300px;
    color:#e9ecf3;
    padding-bottom: 50px;
}