<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ</title>
  </head>

  <body>
      <div>FilmZ</div>

      <div>Username:</div>
      <div>Real Name:</div>
      <div>Email:</div>
      <div>Birthdate:</div>
      <div>Gender:</div>
    </form>
  </body>
</html>