<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ Banned</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/thankyou.css" />
  </head>
  <body>
    <div class="all">
      <form>
        <h1>Sorry You Have Been Banned.</h1>
      </form>
    </div>
  </body>
</html>
