<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ Changing Username</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/changeInformation.css"
    />
    <script src="/scripts/signupscript.js" defer></script>
  </head>
  <body>
    <%- include ("header.ejs") %>
    <div class="log">
      <h1>Changing Username</h1>
      <form action="/updatedUsername" method="post">
        <div><output id="usernamealert"></output></div>
        <div>
          New Username <input type="password" id="username" name="username" />
        </div>
        <div>
          Confirm New Username<input
            type="password"
            id="confirmusername"
            name="confirmusername"
            onkeyup="matchusername(this)"
          />
        </div>
        <div>
          
          <input type="submit" id="updatedUsername" value="Update Username" />
        </div>
      </form>
    </div>
  </body>
</html>
