<!DOCTYPE html>
<html>
<head>
  <title>FilmZ Change Username Admin</title>
  <link rel="stylesheet" type = "text/css" href="/stylesheets/verify.css">
  <script defer></script>
</head>

<body>
  <div class = "Title">Filmz</div>
  <div class="navbar">
    <a href="/mainpage">Home</a>
    <a href="/account">Account</a>
    <a href="/admin">Users</a>
    <a href="/">Logout</a>
  </div>
    <div class="log">
        <h1>Please verify your password</h1>
  <form action="/account/verifiedUsername" method = "post" >
    <input type = "password" id="password" name="password">
    <div><input type = "submit" id="verifypassword" value="Verify Password"></div>
  </form>
</body>
</html>