<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ</title>
  </head>

  <body>
    <form action="/loginn" method="post">
      <div>FilmZ</div>
      <div>Log In</div>
      <div>Username<input type="text" id="username" name="username" /></div>
      <div>Password<input type="text" id="password" name="password" /></div>
      <div><input type="submit" id="Login" value="login" /></div>
      <div>Don't already have an account?</div>
      <a href="/signup">Sign up</a>
    </form>
  </body>
</html>
