<!DOCTYPE html>
<html>
<head>
  <title>FilmZ</title>
</head>

<body>
  <form method = "post">
    <div>FilmZ</div>
    Log In
    <div><input type = "text" id="uid" name="username"></div>
    <div><input type = "text" id="pw" name="password"></div>
    <div><input type = "submit" id="Login" value="login"></div>
    <div>Don't already have an account?</div>
    <a href="/signup">Sign up</a>
  </form>

</body>
</html>
