<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <title>Filmz</title>
    <link href="/stylesheets/loginstyle.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class="log">
      <h1>Welcome to Filmz!</h1>
      <form action="/loginn" method="post">
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
        <a href="/signup">Dont Have An Account?</a>
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
