<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ</title>
    <link href="/stylesheets/mainpage.css" rel="stylesheet" type="text/css">
  </head>
  <body bgcolor="#212226">
  <body>

    <div class = "Title">Filmz</div>
    <div class="navbar">
      <a href="/mainpage">Home</a>
      <a href="/account">Account</a>
      <a href="/admin">Users</a>
      <a href="/">Logout</a>
    </div> 
      <img src="interstelar.jpg" alt="Interstellar Poster">
      <p1>What is Filmz? Filmz is a new and improved movie rating software!</p1>
      <p2>Rate all of your favourite films and have discussions among others.</p2>

      <h1>Movie Rating: 4.9/5</h1>
      <h2>Leave Your Own Review!</h2>
      <input type = "text" class="review" id="review" name="username" placeholder="Leave a review...">

    
    </body>
</html>
