<!DOCTYPE html>
<html>
  <head>
    <title>FilmZ</title>
    <link href="/stylesheets/mainpage.css" rel="stylesheet" type="text/css">
  </head>
  <body bgcolor="#212226">
  <body>
      <h1>FilmZ</h1>
      <div style="background-color:#363940;
        width:90%;
        height:925px;
        position:absolute;
        top:5%;
        left:4.5%;
        z-index:2">
      </div>
      <div style="background-color:black;
        width:90%;
        height:30px;
        position:absolute;
        top:20%;
        left:4.5%;
        z-index:2">
      </div>
      <div style="background-color:white;
        width:40%;
        height:150px;
        position:absolute;
        top:30%;
        left:6%;
        z-index:2">
      </div>


      <h2><a href="/mainpage">Home</a></h2>
      <h3><a href="/account">Account</a></h3>
      <h4><a href="/signup">Sign Out</a></h4>
      <img src="interstelar.jpg" alt="Interstellar Poster">
      <p1>What is Filmz? Filmz is a new and improved movie rating software!</p1>
      <p2>Rate all of your favourite films and have discussions among others.</p2>

      <h5>Movie Rating: 4.9/5</h5>
      <h6>Leave Your Own Review!</h6>
      <input type = "text" class="review" id="review" name="username" placeholder="Leave a review...">
  </body>
</html>
