<!DOCTYPE html>
<head>
	<link rel="stylesheet" type = "text/css" href="/stylesheets/movie.css">
    <title>FilmZ Movie not found</title>
</head>

<body>
    <%- include ("header.ejs") %>

    <section class="task">
		<div class="task__holder">
		  <div class="box">
            <p class="box__text">Sorry, there is no movie with that id.</p>
            </div>
        </div>
    </section>
</body>
</html>