<!DOCTYPE html>
<html>
<head>
  <title>FilmZ Signup</title>
</head>

<body>
  <form method = "post">
    <div>FilmZ</div>
    Sign up
    <div>Username <input type = "text" id="username" name="username"></div>
    <div>Password <input type = "text" id="password" name="password"></div>
    <div>Confirm Password <input type = "text" id="confirmpassword" name="confirmpassword"></div>
    <div>First Name <input type = "text" id="firstname" name="firstname"></div>
    <div>Last Name <input type = "text" id="lastname" name="lastname"></div>
    <div>Email <input type = "text" id="email" name="email"></div>   
    <a href="/">Sign in Instead</a>
    <div><input type = "submit" id="signup" value="signup"></div>
  </form>
  
</body>
</html>