<!DOCTYPE html>
<html>
  <head>
    <title>Sign up | FilmZ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css" />
    <script src="/scripts/signupscript.js" defer></script>
  </head>

  <body>
	<div class="container">
    <div class="all">
	<h1>Don't Miss Out on FilmZ!</h1>
        <!--<h2>Sign up Now!</h2>-->
        <% if (flag == 1) { %>
          <h3>That email is already in use!</h3>
        <% } %>
        <% if (flag == 2) { %>
            <h3>Sorry, Your username is already taken!</h3>
        <% } %>
        <!--<div class="line"></div>-->
      <form action="/signedup" method="post">
        

        <div class="information">
         
          <div class="input-container">
			<div>
				<label>First name</label>
				<input
				  type="text"
				  class="firstname"
				  id="firstname"
				  name="firstname"
				  placeholder="First Name"
				  required
				/>
			</div>
			<div>
				<label>Last name</label>
				<input
				  type="text"
				  class="lastname"
				  id="lastname"
				  name="lastname"
				  placeholder="Last Name"
				  required
				/>
			</div>
          </div>
		  <div class="label-input-box">
			<label>Email address</label>
            <input
              type="text"
              class="email"
              id="email"
              name="email"
              placeholder="Email"
            />
		</div>

          <div class="input-container">
		  <div>
		  <label>Birthday</label>
            <input
              type="date"
              class="birthdate"
              id="birthday"
              name="birthday"
              placeholder="Birthdate"
              required
            />
			</div>

          <!--<p1> Gender </p1>
          <p2> Birthdate</p2>-->
			<div>
			<label>Gender</label>
            <select id="gender" class="gender" name="gender" required>
              <option disabled selected value>-- Select --</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
			</div>
          </div>

          <div class="label-input-box">
			<label>Choose username</label>
            <input
              type="text"
              class="username"
              id="username"
              name="username"
              placeholder="Username"
              required
            />
          </div>

          <div class="label-input-box">
		  <label>Choose password</label>
            <input
              type="password"
              class="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <div class="label-input-box">
            <input
              type="password"
              class="confirmpassword"
              id="confirmpassword"
              name="confirmpassword"
              placeholder="Confirm Password"
              onkeyup="matchpassword(this)"
              required
            />
          </div>
          <output id="passwordalert"></output>

          <output id="emailalert"></output>

          <center>
            <button type="submit" class="signup" id="signedup" />Sign up</button>
          </center>

          <center>
            <a href="/">Already Have an Account? </a>
          </center>
        </div>
      </form>
    </div>
	</div>
  </body>
</html>
