<!DOCTYPE html>
<html>
<head>
  <title>FilmZ Signedup</title>
  <link rel="stylesheet" type = "text/css" href="/stylesheets/thankyou.css">
  <script src="/scripts/signupscript.js" defer></script>
</head>

<body>

  <div class="all">

  <form>
  
    <h1>Thank you for signing up! </h1>
    <ul>
    <a href="/">Return to Login</a>
  </ul>
  </form>

</div>
</body>
</html>